.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 1rem;
    right: 0;
    width: auto;
    height: auto;
    padding: 0.5%;

    z-index: 50;
    background: none;
    backdrop-filter: blur(4rem);
    border-radius: 1.5rem;

    &:hover {
        .items {
            opacity: 1;
            width: 30rem;
        }
    }
}


.menu {
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    color: white;
    background: radial-gradient(circle at bottom right, rgb(255, 143, 0), rgb(207, 31, 0));
    display: flex;
    align-items: center;
}

.items {
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: width 0.5s ease-in, opacity 0.1s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.item {
    text-decoration: none;
    color: black;
    padding: 2%;
    font-size: 1.3rem;

    &:hover {
        color: rgba(0, 0, 0, 0.534);
    }
}

@media screen and (max-width:580px) {
    .container {
        flex-direction: column !important;
        &:hover {
            .items {
                width: 25rem !important;
            }
        }
    }

    .item {
        font-size: 1.2rem;
    }
}