.container {
    height: max-content;
    width: 100vw;
    
    .heading {
        margin: 5%;
        font-family: 'Protest Strike', sans-serif;
        font-size: 4.5rem;
        color: rgb(8, 80, 13);
        &::selection{
            color:white;
            background: rgb(246, 1, 7);
        }
    }
    
    .collection {
        display: flex;
        flex-direction: row;
        margin: 5%;
        flex-wrap: wrap;
        justify-content: center;
        
        .book_container {
            z-index: -1 !important;
            display: flex;
            flex-direction: column;
            width: 20rem;
            padding: 1%;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 16px;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.3);
            margin: 2%;
            transition: border 1s, box-shadow 1s;
            &:hover{
                box-shadow: 0 4px 30px rgb(246,1,7,0.2);
                border: 0.01rem solid rgb(246,1,7);

            }

            .book_cover {
                height: 20rem;
                width: 15rem;
                object-fit: fill;
                border-radius: 5%;
            }

            .book_title {
                font-family: 'Lexend Mega', sans-serif;
                font-size: 1.1rem;
                letter-spacing: -0.2rem;
                padding: 5%;
                &::selection{
                    color:white;
                    background: rgb(246, 1, 7);
                }
            }
            
            .book_author
            {
                justify-content: flex-end;
                &::selection{
                    color:white;
                    background: rgb(246, 1, 7);
                }
            }
        }
    }
}